$black: #0000;
$ten: 10;
$nav: #444444;
$size: size;

.extension {
  @extend .box;
  @extend .has-no-radius;
  @extend .is-margin-top-big;
  @extend .is-margin-bottom-big;
  color: $black;
  padding: 1rem;
  border: $ten * 0.1 solid $nav;
  border-left-width: 3rem;

  &.note {
    border-color: #959595;

    > div:first-child {
      &:before {
        $size: $ten * 1.6;
        content: "";
        background: url(/assets/img/info.svg) no-repeat center;
        background-size: cover;
        resize: both;
        display: inline-block;
        height: $size !important;
        width: $size !important;
        margin-right: 0.25rem;
      }
    }
  }

  &.important {
    border-color: #EFD500;

    > div:first-child {
      &:before {
        $size: $ten * 1.6;
        content: "";
        background: url(/assets/img/alert.svg) no-repeat center;
        background-size: cover;
        resize: both;
        display: inline-block;
        height: $size !important;
        width: $size !important;
        margin-right: 0.25rem;
      }
    }
  }

  &.warning {
    border-color: #FA0F00;

    > div:first-child {
      &:before {
        $size: $ten * 1.6;
        content: "";
        background: url(/assets/img/alert.svg) no-repeat center;
        background-size: cover;
        resize: both;
        display: inline-block;
        height: $size !important;
        width: $size !important;
        margin-right: 0.25rem;
      }
    }
  }

  &.caution {
    border-color: #EFCC00;

    > div:first-child {
      &:before {
        $size: $ten * 1.6;
        content: "";
        background: url(/assets/img/alert.svg) no-repeat center;
        background-size: cover;
        resize: both;
        display: inline-block;
        height: $size !important;
        width: $size !important;
        margin-right: 0.25rem;
      }
    }
  }

  &.video {
    @extend .is-paddingless;
    border-left-width: $ten * 0.1;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25% !important;
  }

  > div {
    &:first-child {
      @extend .is-flex;
      @extend .is-vcentered;
      font-weight: bold;
    }

    &:last-child {
      ol, ul, p {
        margin: 0 !important;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}